.button {
  display: inline-block;
  margin-bottom: 0;
  border: 1px solid rgba(144, 115, 173, 0.15);
  border-radius: 3px;
  padding: .665em 2.25em;

  font-size: .75em;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  opacity: .94;
  &:hover { opacity: 1; }
}

.button.small {
  padding: .325em 1em;
  font-size: .665em;
}
