.navigation {
  color: $color-white;

  ul {
    overflow: hidden;
    opacity: .985;
  }

  a {
    position: relative;
    display: block;
    margin: 0;
    color: $color-white;
    text-decoration: none;
    font-size: 1.05em;
    
    &:hover { color: $nav-hover-color; }

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &:active, &.active {
      color: $nav-hover-color;
    }
  }
}
