/* 540px (33.75 x 16) */
@media screen and (min-width: 33.75em) {
  .leaderboard {
    background-position: center center;
    height: 20em;
    h1 { font-size: 2.125em; }
  }

  .sponsors {
    @include change-cols($col-size-33, 3%);
    [class*='blox-'] { padding: 4% 2.75%; }
  }
}



/* 650px (40.625 x 16) */
@media screen and (min-width: 40.625em) {
  .sponsors {
    @include change-cols($col-size-25, 3%);
    [class*='blox-'] { padding: 4% 2%; }
  }
}



/* 720px */
@media screen and (min-width: 45em) {
  .leaderboard {
    height: 22em;
    h1 { font-size: 2.25em; }
    small { font-size: 1em; }
  }

  .innertext { width: 84%; }
  .recent-projects .project .inner { min-height: 300px; }

  .interest-tabs {
    .flow {
      @include change-cols($col-size-33, 1%);
      [class*='blox-']:last-child { @include col-width($col-size-33, 1%); }      
    }
  }
}



/* 800px */
@media screen and (min-width: 50em) {
  .leaderboard { height: 24em; }
  .innertext { width: 74%; }

  .sponsors {
    @include change-cols($col-size-20, 2%);
    [class*='blox-'] { padding: 3.5% 1.5%; }
  }
}



/* 900px */
@media screen and (min-width: 56.25em) {
  body { font-size: 117%; }
  .mobile-nav { display: none !important; }

  .header {
    &, .inner { height: $header-height-large; }

    /* Make fixed */
    position: fixed;
    left: 0;
    right: 0;
    opacity: .99;

    .nav-toggle {
      font-size: 1.875em;

      .icon-list {
        position: relative;
        top: -.125em;
      }
    }

    .logo { font-size: 1.6em; }
  }

  .navigation a { font-size: .97em; }


  /* Switch Navs */
  .nav-toggle, .top-nav { display: none; }
  .desktop-nav { display: block; }


  .leaderboard {
    /* 
     * When the header is fixed we have to push down the leaderboard. 
     */
    padding-top: $header-height-large;
    height: 27.425em;

    h1 { font-size: 2em; }
    small {
      font-size: .875em;
      line-height: 1.5;
    }
  }

  .innertext { width: 64%; }
  .sponsors {
    [class*='blox-'] { padding: 3.5% 1.75%; }
  }

  #footer { padding: 2em; }
}



/* 1224px */
@media screen and (min-width: 76.5em) {
  .container {
    padding-left: 10%;
    padding-right: 10%;
  }
  .innertext { width: 58%; }

  .leaderboard {
    h1 { font-size: 2.25em; }
    small { font-size: .95em; }
  }

  .recent-projects {
    .project .inner {
      padding: 1.5em;
      padding-top: 1.75em;
    }
  }

  .sponsors {
    /*@include change-cols(16.665%, 2%);*/
    [class*='blox-'] { padding: 3.25% 1.5%; }
  }

  #footer { padding: 3em; }
}



/* 1340px */
@media screen and (min-width: 83.75em) {
  body { font-size: 125%; }
  .innertext { width: 64%; }

  .leaderboard {
    height: 23em;
    h1 { font-size: 2.425em; }
    small { font-size: 1.125em; }
  }
}
