/**
 * Grid
 */
$col-gap: 1.75%;
$col-gap-large: 5%;

$col-size-100: 100%;
$col-size-50: 50%;

$col-size-33: 33.333333333%;
$col-size-66: 66.666666667%;

$col-size-25: 25%;
$col-size-75: 75%;

$col-size-20: 20%;
$col-size-40: 40%;
$col-size-60: 60%;
$col-size-80: 80%;

$col-size-12_5: 12.5%;
$col-size-37_5: 37.5%;
$col-size-62_5: 62.5%;
$col-size-87_5: 87.5%;

$col-size-10: 10%;
$col-size-30: 30%;
$col-size-70: 70%;
$col-size-90: 90%;


/**
 * Fonts
 */
$primary-font: "Lato", sans-serif;
$secondary-font: "Josefin Sans", sans-serif;


/**
 * Colors
 */
$primary-dark-color: #5A575E;
$primary-light-color: #F7F7F8;
$muted-light-color: #B9B7BE;
$color-white: #fff;
$nav-hover-color: #EBD4F8;
$body-background-color: #FDFCFD;
$link-color-light: #AB97DF;
$link-color-light--hover: #8F77CE;
$gray-block-color: rgba(231, 228, 235, 0.18);


/**
 * Paths
 */
$path-images: "../images/";
$path-fonts: $path-images + "fonts/";
$path-backgrounds: $path-images + "backgrounds/";
$path-sponsors: $path-images + "sponsors/";


/**
 * Site header nav
 */
$header-height: 3.625em;
$header-height-large: 3.425em;
